<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>pl.dirsot.bets.server.GreetingServiceImpl</servlet-class>
  </servlet>
	<servlet>
		<servlet-name>CreateNewTodo</servlet-name>
		<servlet-class>pl.dirsot.bets.ServletCreateTodo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RemoveTodo</servlet-name>
		<servlet-class>pl.dirsot.bets.ServletRemoveTodo</servlet-class>
	</servlet>  
	<servlet>
		<servlet-name>LogUser</servlet-name>
		<servlet-class>pl.dirsot.bets.ServletLogUser</servlet-class>
	</servlet>    
	<servlet>
		<servlet-name>UpdateBets</servlet-name>
		<servlet-class>pl.dirsot.bets.ServletUpdateBets</servlet-class>
	</servlet>  
	<servlet>
		<servlet-name>AddDeal</servlet-name>
		<servlet-class>pl.dirsot.bets.ServletAddDeal</servlet-class>
	</servlet>   
	<servlet>
		<servlet-name>SearchBets</servlet-name>
		<servlet-class>pl.dirsot.bets.ServletSearchBets</servlet-class>
	</servlet>  
	<servlet>
		<servlet-name>InitData</servlet-name>
		<servlet-class>pl.dirsot.bets.ServletInitData</servlet-class>
	</servlet>  
	<servlet>
		<servlet-name>AddNews</servlet-name>
		<servlet-class>pl.dirsot.bets.ServletAddNews</servlet-class>
	</servlet>  
	<servlet>
		<servlet-name>DeleteOldDeals</servlet-name>
		<servlet-class>pl.dirsot.bets.ServletDeleteOldDeals</servlet-class>
	</servlet>  
	<servlet>
		<servlet-name>AddNewUser</servlet-name>
		<servlet-class>pl.dirsot.bets.ServletAddNewUser</servlet-class>
	</servlet>  
	<servlet>
		<servlet-name>ActivateAccount</servlet-name>
		<servlet-class>pl.dirsot.bets.ServletActivateAccount</servlet-class>
	</servlet>  
	<servlet>
		<servlet-name>AddComment</servlet-name>
		<servlet-class>pl.dirsot.bets.ServletAddComment</servlet-class>
	</servlet>  
	<servlet>
		<servlet-name>ChangeBet</servlet-name>
		<servlet-class>pl.dirsot.bets.ServletChangeBet</servlet-class>
	</servlet>  
	<servlet>
		<servlet-name>AddBet</servlet-name>
		<servlet-class>pl.dirsot.bets.ServletAddBet</servlet-class>
	</servlet>  
	<servlet>
		<servlet-name>AddPayment</servlet-name>
		<servlet-class>pl.dirsot.bets.ServletAddPayment</servlet-class>
	</servlet>  
	
	 
	<servlet>
		<servlet-name>Regulation</servlet-name>
		<jsp-file>/WEB-INF/secret.jsp</jsp-file>
	</servlet>   
	
	
  <servlet-mapping>
    <servlet-name>AddPayment</servlet-name>
    <url-pattern>/wplac</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddBet</servlet-name>
    <url-pattern>/addBet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddComment</servlet-name>
    <url-pattern>/addComment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Regulation</servlet-name>
    <url-pattern>/nowy.dirsot</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/pl_dirsot_bets/greet</url-pattern>
  </servlet-mapping>
  	<servlet-mapping>
		<servlet-name>RemoveTodo</servlet-name>
		<url-pattern>/done</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateNewTodo</servlet-name>
		<url-pattern>/new</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogUser</servlet-name>
		<url-pattern>/logUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateBets</servlet-name>
		<url-pattern>/updateBets</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddDeal</servlet-name>
		<url-pattern>/addDealStare</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InitData</servlet-name>
		<url-pattern>/initData</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchBets</servlet-name>
		<url-pattern>/searchBets</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddDeal</servlet-name>
		<url-pattern>/addDeal</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddNews</servlet-name>
		<url-pattern>/addNews</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteOldDeals</servlet-name>
		<url-pattern>/deleteOldDeals</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActivateAccount</servlet-name>
		<url-pattern>/activateAccount</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddNewUser</servlet-name>
		<url-pattern>/addNewUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangeBet</servlet-name>
		<url-pattern>/changeBet</url-pattern>
	</servlet-mapping>
	  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

</web-app>



